
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Mooli&family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar */
body {
    font-family: 'Baskervville', sans-serif;
    color: #183b56;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e49df5;
    box-shadow: 0 0 3rem#cf87f0;
    padding: 10px 20px;
    
}
.container{
   display: flex;
   flex-direction: row;
}

#navbar {
    
    z-index: 1;
    position: relative;
   
  }
.dropdown{
    position: absolute;
    
}  
  
nav{
    position: fixed;
    top: 0;
    z-index: 100;
    
    right: 0;
    left: 0;
}
.nav-ele{
    display: flex;
   align-items: center;
   justify-content: center;
    flex-direction: row;
    gap:4rem;
}
.nav-sub{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
    font-style: bold;
    font-size: 16px;
    color: black;
    cursor: pointer;
}

.flex {
    display: flex;
    gap: 4rem;
}

.flex li {
    list-style: none;
}

.flex li:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.search-bar input {
    width: 200px;
    height: 100%;
    padding: 7px 12px;
    border-radius: 4px;
    border: 0.1rem solid #ea33b9;
    font-family: "Roboto", sans-serif;
}

.search-bar button {
    background-color: #ea33b9;
    color: white;
    padding: 8px 24px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}


.bar {
    width: 20px;
    height: 3px;
    background-color: #183b56;
    margin: 2px 0;
    border-radius: 5px;
    transition: 0.4s;
}
.home-title{
    margin-top:250px;
}
.oh{
    margin-left: 10px;
    margin-right: 20px;
}
online-h2{
    padding-top: 10px;
    font-size: 20px;
}
.online-h{
    padding-top: 10px;
    font-size: 20px;
}
.onlineharass{
    display: flex;
    flex-direction: row;
}
.info{
    margin-left: 10px;
    margin-right: 20px;
}
.info-para{
    padding-top: 10px;
    font-size: 20px;
}
.info-overload{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.socio{
    margin-left: 10px;
    margin-right: 20px;
}
.socio-para{
    padding-top: 10px;
    font-size: 20px;
}
.social-p{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
} 
.anger-a{
    margin-left: 10px;
    margin-right: 20px;
}
.anger-para{
    padding-top: 10px;
    font-size: 20px;
}
.anger-p{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.anxiety-a{
    margin-left: 10px;
    margin-right: 20px;
}
.anxiety-para{
    padding-top: 10px;
    font-size: 20px;
}
.anxiety-p{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.respdig-a{
    margin-left: 10px;
    margin-right: 20px;
}

.respdig-para{
    padding-top: 10px;
    font-size: 20px;
}

.respdig-p{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}    

.home-sub{
    padding-top: 200px;
    text-align: center;
}
 #noshow{
    text-decoration: none;
    color: black;
} 

/*  footer */
.footer-row {
    color: black;
    background-color:#e49df5 ;
    box-shadow: 0 0 3rem #cf87f0;
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 60px 20px;
    margin-top: 100px;
}
.email-para{
    font-size: 1.8rem;
    color: black;
}
.email-btn {
    background-color: #ea33b9;
    color: white;
    padding: 8px 24px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
.med1{
    padding-top: 7rem;
    padding-bottom: 1rem;
    text-align: center;
}
#center{
   align-items: center;
   justify-content: center;
    text-align: center;
    margin-left: 2rem;
}
.mis,.vis{
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}
.main-supp{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    

.sup-cont{
    text-align: center;
    font-size: 26px;
}
.abt-m{
    background-color: rgb(156, 217, 246);
}
.an-name, .ga-name, .sa-name, .va-name{
    text-align: center;
    font-size: 20px;
}
.pic-found{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.abt-v{
    background-color: rgb(156, 217, 246);
}

.mis-cont, .vis-cont{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 1rem;
}

.founder{
    text-align: center;
    padding-top: 2rem;
    font-size: 40px;
}

.video{
    padding: 4rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}
.video2{
 
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}
#email-bar{
    
    width: 20rem;

    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
   
    
    border: 0.1rem solid #ea33b9;


}
.first{
    text-align: center;
    width: 250px;
}
.email-cont{
    text-align: center;
}
.third{
    text-align: center;
}

.footer-row li {
    color: grey;
}
.social-logo{
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.online-h{
    padding-left: 10px;
    font-size: 20px;
}
.heading{
    padding-top: 110px;
    padding-bottom: 10px;
    text-align: center;
}
.online-img{
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    justify-content: center;
}
.info-h{
    padding-left: 10px;
    font-size: 20px;
}
.footer-row li {
    list-style: none;
}
.online-h1{
    padding-left: 10px;
}
.dropbtn, .nv-sub {
    background-color:#e49df5 ;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus{
    background-color: #e49df5;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  * Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  img {
    object-fit: contain;
  }
/* media query */
@media screen and (max-width: 400px) {
    .main-nav {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .nav-links {
        margin-top: 10px;
        text-align: center;
    }

    .nav-links ul {
        padding: 5px;
        flex-direction: column;
    }

    .nav-links li {
        margin-bottom: 5px;
    }

    .search-bar {
        margin-top: 10px;
        padding: 5px;
    }

    .search-bar input {
        padding: 4px 8px;
    }


}
